:root {
    /* Cores */
    --_fundo_branco: #f9f9fa;
    --cinza: #6f6f70;
    --preto: #172323;
}

body {
    background: url('../imagens/cadastro_rotas/fundo_cadastro_rotas.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center 10%;
}


.container {
    display: flex;
    height: 100%;
}


.form-container {
    padding: 50px;
    width: 400px; 
    text-align: center;
    margin: 0 auto; /* Centraliza o formulário no eixo horizontal */
}

.form-container h3 {
    text-align: center;
    margin-bottom: 10px; /* Espaçamento menor para ficar alinhado */
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.form-container h6 {
    text-align: center;
    color: var(--cinza);
    margin-bottom: 20px; /* Espaçamento antes do formulário */
    font-family: 'Zen Kaku Gothic Antique', sans-serif;

}

.form-group {
    margin-bottom: 15px;
    text-align: center; 
}


.form-group input {
    width: 100%; 
    max-width: 350px; /* Define um limite para os inputs */
    padding: 22px;
    border: 1px solid var(--preto);
    border-radius: 4px;
    box-sizing: border-box;
}


.submit-btn {
    background-color: var(--preto);
    color: var(--_fundo_branco);
    padding: 16px;
    border: none;
    border-radius: 4px;
    width: 88%;
    cursor: pointer;
    font-size: 16px;
    padding-top: 14px;
}   


.submit-btn:hover {
    background-color: var(--cinza);
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}


.imagem-no-input {
    position: relative;
}

.imagem-no-input input {
    padding-left: 40px; /* Espaço para o ícone */
    width: 100%; /* Para respeitar o alinhamento */
    max-width: 350px; /* Largura alinhada */
}

.imagem-no-input img {
    position: absolute;
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px; /* Tamanho consistente do ícone */
    height: auto; /* Para manter as proporções */
}

.texto-inferior-direito {
    position: fixed; 
    bottom: 10px; 
    right: 10px; 
    font-size: 12px; 
    color: var(--preto); 
    padding: 5px 10px;
    display: flex; 
    align-items: center; 
    cursor: pointer;
}

.texto-inferior-direito img {
    width: 16px; /* Ajuste o tamanho da imagem conforme necessário */
    height: 16px;
    margin-right: 8px; /* Espaço entre a imagem e o texto */
}

.texto-superior-esquerdo {
    position: absolute; 
    top: 10px; 
    left: 410px; 
    font-size: 12px; 
    color: var(--preto); 
    padding: 5px 10px;
    display: flex; 
    align-items: center; 
}

.texto-superior-esquerdo a {
    color: var(--preto);
    text-decoration: none;
    color: var(--cinza);
}


.form-container-data-hora {
    display: flex;
    gap: 20px; /* Espaço entre os inputs */
    justify-content: center; /* Centraliza na página */
    align-items: center; /* Alinha verticalmente */
    padding-bottom: 15px;
}



.form-group-data-hora {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
}


.imagem-no-input-data-hora img {
    max-width: 40px; 
    margin-bottom: 5px; 
}


.imagem-no-input-data-hora input {
    width: 132px; 
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center; 
    border: 1px solid var(--preto);
}   