:root {
    /* Cores */
    --_fundo_branco: #f9f9fa;
    --cinza: #6f6f70;
    --preto: #172323;
}



body {
    margin: 0;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    height: 100vh;
}


.container {
    display: flex;
    height: 100%;
}


.esquerda {
    flex: 1;
}

.esquerda img {
    padding-left: 5;
    width: 415px; 
    height: 100vh; 
}

.direita {
    width: 73%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--_fundo_branco);
}

.form-container {
    background-color: var(--_fundo_branco);
    padding: 50px;
    width: 400px; 
    text-align: center;
    margin: 0 auto; /* Centraliza o formulário no eixo horizontal */
}

.form-container h3 {
    text-align: center;
    margin-bottom: 10px; /* Espaçamento menor para ficar alinhado */
}

.form-container h6 {
    text-align: center;
    color: var(--cinza);
    margin-bottom: 20px; /* Espaçamento antes do formulário */
}

.form-group {
    margin-bottom: 15px;
    text-align: center; 
}


.form-group input {
    width: 100%; 
    max-width: 350px; /* Define um limite para os inputs */
    padding: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.submit-btn {
    background-color: var(--preto);
    color: var(--_fundo_branco);
    padding: 16px;
    border: none;
    border-radius: 4px;
    width: 88%;
    cursor: pointer;
    font-size: 16px;
}
.submit-btn:hover {
    background-color: var(--cinza);
}


.imagem-no-input {
    position: relative;
}

.imagem-no-input input {
    padding-left: 40px; /* Espaço para o ícone */
    width: 100%; /* Para respeitar o alinhamento */
    max-width: 350px; /* Largura alinhada */
}

.imagem-no-input img {
    position: absolute;
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px; /* Tamanho consistente do ícone */
    height: auto; /* Para manter as proporções */
}

.texto-inferior-direito {
    position: fixed; 
    bottom: 10px; 
    right: 10px; 
    font-size: 12px; 
    color: var(--preto); 
    padding: 5px 10px;
    display: flex; 
    align-items: center; 
}

.texto-inferior-direito img {
    width: 16px; /* Ajuste o tamanho da imagem conforme necessário */
    height: 16px;
    margin-right: 8px; /* Espaço entre a imagem e o texto */
}
